@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.bg-container {
    background-color: dodgerblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    text-align: center;
    margin-bottom: 50px;
    /*text-decoration: underline;*/
    background-color: black;
    padding: 15px;
    font-size: 40px;
    color: white;
    width: 80%;
}

.search-form {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    width: 80%;
    padding: -10px;
}

.search {
    background-color: black;
    color: azure;
    height: 41px;
    min-width: 80%;
    margin-right: 5px;
    padding: 5px;
}

.search-button {
    background-color: black;
    color: azure;
    height: 40px;
    padding: 5px;
    min-width: 20%;
}

.search-button:hover {
    background-color: darkblue;
    color: white;
}

.result-container {
    background-color: black;
    color: white;
    width: 80%;
    padding: 20px;
    padding-top: 25px;
    font-family: "Times New Roman", serif;
    overflow: auto;
    margin-bottom: 20px;
}

.result-sub-container {
    margin-bottom: 20px;
    display: flex;
    /*align-items: center;*/
}

.result-sub-container1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.result-container-visibility {
    display: none;
}

.result-query {
    font-size: 22px;
    color: #15e8c8;
    padding-bottom: 10px;
}

.result-ans {
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
}


.audio-class {


}

@media(min-width: 767px){
    .bg-container {
        background-color: dodgerblue;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-heading {
        text-align: center;
        margin-bottom: 50px;
        /*text-decoration: underline;*/
        background-color: black;
        padding: 15px;
        font-size: 40px;
        color: white;
        width: 500px;
    }

    .search-form {
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
        max-width: 400px;
        padding: -10px;
    }

    .search {
        background-color: black;
        color: azure;
        height: 41px;
        min-width: 80%;
        margin-right: 5px;
        padding: 15px;
    }

    .search-button {
        background-color: black;
        color: azure;
        height: 40px;
        padding: 15px;
        padding-top: 12px;
        min-width: 20%;
    }

    .search-button:hover {
        background-color: darkblue;
        color: white;
    }

    .result-container {
        background-color: black;
        color: white;
        max-width: 400px;
        max-height: 450px;
        padding: 20px;
        padding-top: 25px;
        font-family: "Times New Roman", serif;
        overflow: auto;
        margin-bottom: 20px;
    }

    .result-sub-container {
        margin-bottom: 20px;
        display: flex;
        /*align-items: center;*/
    }

    .result-sub-container1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .result-container-visibility {
        display: none;
    }

    .result-query {
        font-size: 22px;
        color: #15e8c8;
        padding-bottom: 10px;
    }

    .result-ans {
        font-size: 20px;
        margin-left: 10px;
        font-style: italic;
    }


    .audio-class {


    }

}